.btnMenu {
  cursor: pointer;

  .text {
    display: none;
    @include media(lg) {
      display: block;
    }
    color: #FFF;
    font-weight: 800;
    line-height: 21px;
    font-size: 14px;

    .arrow {
      display: inline-flex;
      width: 12px;
      height: 8px;
      transition: background-image 0.4s linear;
    }
  }
  .bullet {
    p {
      display: block;

      @include media(lg) {
        display: none;
      }

      width: 28px;
      height: 2px;
      background-color: #fff;
      margin: 6px 0;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, 
                              #020203 0%, 
                              rgba(14, 17, 23, 0.92) 96.35%,
                              rgba(14, 17, 23, 0.9) 100%);
  backdrop-filter: blur(12px);
  transition: margin-top 0.5s ease-in-out;
  z-index: -1;
  margin-top: -100%;

  &.open {
    margin-top: 97px;
  }

  .listcharacters {
    display: flex;
    justify-content: center;
    margin: 51px 0;

    li {
      margin: 0 22px;
    }
  }

  .seeAll {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: $neutral-300;
    color: #fff;

    .dots {
      color: $primary-default;
      margin-right: 10px;
    }
  }
}