@import url('./reset.css');

html, body { height: 100%; }
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: $neutral-100;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: $sizeContainer;
  width: 100%;
  margin: 0 auto;

  @include media(untilContainer) {
    padding: 0 45px;
  }

  @include media(sm) {
    padding: 0 24px;
  }
}

