.header {
  display: flex;
  background: transparent;
  height: 96px;
  flex-direction: column;
  align-items: center;

  .container{
    flex: 1;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .logo {
    flex: 1;
  }
  
  .bar {
    position: relative;
    width: 100%;
    height: 2px;
    z-index: 0;
    
    .line {
      background: #FFF;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.1;
    }
    
    .lineBar {
      background: $primary-default;
      width: 43px;
      height: 100%;
    }
  }
}
.menu {
  position: fixed;
  top: -200%;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, 
                              #020203 0%, 
                              rgba(14, 17, 23, 0.92) 96.35%,
                              rgba(14, 17, 23, 0.9) 100%);
  backdrop-filter: blur(12px);
  padding-top: 97px;
  transition: top 0.5s;

  &.open {
    top: 0;
  }

  .listcharacters {
    display: flex;
    justify-content: center;
    margin: 51px 0;

    li {
      margin: 0 22px;
    }
  }

  .seeAll {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: $neutral-300;
    color: #fff;

    .dots {
      color: $primary-default;
      margin-right: 10px;
    }
  }
}