.btnMenu {
  cursor: pointer;
  .text {
    display: none;
    @include media(lg) {
      display: block;
    }
    color: #FFF;
    font-weight: 800;
    line-height: 21px;
    font-size: 14px;
  }
  .bullet {
    p {
      display: block;
      @include media(lg) {
        display: none;
      }
      width: 28px;
      height: 2px;
      background-color: #fff;
      margin: 6px 0;
    }
  }
}